*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

}


/* nav bar start */
.container{
    max-width: 1200px;
    margin:auto;
}
.contain{
    width:1000px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
}
.nav-ul{
    display:flex;
    list-style:none;
    gap: 30px;
    align-items:center;
    color:gray;
    
}
/* nav bar end */

.common-btn{
    background-color: #1D4ED8;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color:white;
    
}
/* banner section start */
.banner{
    position: relative;
}
.banner img{
    display:flex;
    justify-content: center;
    width:1200px;
    
}
.banner h1{
     text-align: center;
    color: white;
    margin-top: -650px; 
    font-size: 60px;
    margin-bottom: 20px;
}
.banner p{
    text-align: center;
    color: white;
    margin: 0%;
     
}
.banner-btn{
    margin-top: 20px;
    top:600px;
    left:550px;
    position:absolute;
    
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width: 1200px;
     height: 800px; 
    background-color: black;
    opacity:0.25;
} 
 /* banner section end */

 /* meet section start */
 .meet{
    margin-top: 490px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    
 }
 .gallery{
    width: 1100px;
    margin-top: 20px;
    display:grid;
    gap:12px;
    grid-template-columns: repeat(2, 1fr);

 }
 .card{
    border: 2px solid #e5e5e5;
    border-radius: 8px;
 }
 .card img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card  h3, p{
    margin-left:20px;
    padding-left: 20px;
    padding:5px;
    margin-bottom: 20px;
}
/* meet section end */

/* secure section start */
.secure{
    margin-top: 140px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    
    
    
 }
  .gallery-secure{
    width:1000px;
    margin-top: 20px;
    display:grid;
    gap:12px;
    grid-template-columns: repeat(3, 1fr);

 }

 .price-card{
    border:1px solid lightgray;
    border-radius:8px;
    padding:10px;
    
}
.price-card h2{
    font-size: 50px;
    padding-left: 20px;
    
}
.price-card p{
    margin-bottom: 10px;
}
.secure-ul{
    padding-left: 20px;
    margin-top: 10px;
    list-style: none;
    
    
}
.secure-ul li{
   margin-bottom: 10px;
   
}
.bullet{
    color: blue;
}
.std-btn {
    background-color: white;
    padding: 10px 20px ;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid blue;
    cursor: pointer;
    color:blue;
    text-align: center;
    display: block;
    margin: 20px auto 0;
    margin-bottom: 20px;
    width: 270px;
}
.pro{
    background-color:#0D1B2A;
    color:gray;
}
.pro-btn{
    width: 270px;
    padding: 10px 20px;
    margin: 20px auto 0;
    display: block;
}
.contact-btn{
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    color:black;
    padding: 10px 20px ;
    text-align: center;
    display: block;
    margin: 20px auto 0;
    margin-bottom: 20px;
    width: 270px;

}
/* secure section end */

/* sponsors section start */

.sponsors{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 25px;
}

.sponsors h2{
    margin-bottom: 15px;
}

.sponsors p{
    color: gray;
    margin-bottom: 40px;
}

.sponsor-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.sponsor-card{
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 35px;
    background-color: white;
}

.sponsor-card img{
    width: 150px;
    
}
/* sponsors section end */

/* footer section start */

footer{
    background-color: #0F172A;
    padding: 40px 0;
    margin-top: 80px;
    max-width: 1200px;
    margin: auto;
    
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top img{
    padding-left: 20px;
}

.social-icons img{
    width: 28px;
    margin-left: 15px;
    cursor: pointer;
    margin-right: 15px;
}



.footer-bottom{
    text-align: center;
    padding:10px;
}

.footer-bottom p{
    color: white;
    font-size: 15px;
}
/* footer section end */