*{
    padding: 0;
    margin: 0;

}


/* nav bar start */
.container{
    max-width: 1200px;
    margin:auto;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
}
ul{
    display:flex;
    list-style:none;
    gap: 30px;
    align-items:center;
    color:gray;
    
}
/* nav bar end */

.common-btn{
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color:white;
}
/* banner section start */
.banner{
    position: relative;
}
.banner img{
    display:flex;
    justify-content: center;
    width:1200px;
}
.banner h1{
     text-align: center;
    color: white;
    margin-top: -650px; 
    font-size: 60px;
    margin-bottom: 20px;
}
.banner p{
    text-align: center;
    color: white;
     
}
.banner-btn{
    margin-top: 20px;
    top:600px;
    left:550px;
    position:absolute;
    
}
/* .overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:0.5;
} */
 /* banner section end */

 /* meet section start */
 .meet{
    margin-top: 550px;
    text-align: center;
    
 }
 .gallery{
    margin-top: 20px;
    display:grid;
    gap:12px;
    grid-template-columns: repeat(2, 1fr);
    
 }